git:
  user: 
    name: Example # bla
    email: mail@example.com
env: 
  quick: example
  anotherquick: "another-example"
  yetanotherquick: "another example"
ssh:
  file: /Users/example/.ssh/id_rsa
nvm:
  version: v12.15.0
jenv:
  version: openjdk64-11.0.2
p10k:
  prompt: 
    icon: "🏃"
    text: quick
    foregroundColor: white
    backgroundColor: white